#btn{
    font-family: 'Luxurious Roman', cursive;
    right: 10%;
    padding: 10px;
    border-radius: 40px;
    background: #fff;
    z-index: 10000;
}

header
{
    position: absolute;
    font-family: 'Luxurious Roman', cursive;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a:active
{
    background: #fff;
    color: #2b1055;
}
#active
{
    color: #fff;
    background: crimson;
}
#active:hover
{
    color: white;
    background: gray;
}